<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="70168">
        <setting label="70786" type="lsep"/>
        <setting id="autostart" type="bool" label="70706" default="false"/>
        <setting label="70579" type="lsep"/>
        <setting id="addon_update_enabled" type="bool" label="70581" default="true"/>
        <setting id="addon_update_message" type="bool" label="70582" visible="eq(-1,true)" default="true"/>
        <setting id="addon_update_timer" type="slider" option="int" range="1,1,24" label="707416" visible="eq(-2,true)" default="1"/>
        <setting label="70787" type="lsep"/>
        <setting id="resolver_dns" type="bool" label="707408" default="true" enable="true" visible="true"/>
        <setting id="checkdns" type="bool" default="true" visible="false"/>
        <setting label="70788" type="lsep"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
        <setting id="chrome_ua_version" type="text" default="87.0.4280.88" visible="False"/>
        <setting id="viewchange_notify" label='70514' type="bool" default="false"/>
    </category>
